* {
  padding: 0px;
  margin: 0px;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}
// Start header section

.header-section-top {
  background-image: url(./image/header-shape.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #1baf63;
  padding: 10px;
  .header-top {
    display: flex;
    justify-content: space-between;
    margin: 0;
    .top-left {
      display: flex;
      text-align: center;
      gap: 7rem;
      .top-text {
        align-items: center;
        display: flex;
        gap: 10px;
        .fa-solid,
        .fas {
          font-weight: 900;
          color: white;
        }
        p {
          margin: 0px;
          padding: 0px;
          a {
            font-size: 16px;
            text-decoration: none;
            color: white;
          }
        }
      }
    }
    .top-right {
      display: flex;
      align-items: center;
      gap: 5rem;
      p {
        padding: 0px;
        margin: 0px;
      }
    }
  }
}
.header-section-bottom {
  background-color: #ffffff;
  box-shadow: 0px 0px 23px -10px;
  padding: 15px 0;
  .header-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .header-bottom-logo {
    }
    .header-bottom-text {
      display: flex;
      align-items: center;
      column-gap: 30px;
      ul {
        display: flex;
        align-items: center;
        margin: 0;
        column-gap: 25px;
        li {
          list-style: none;

          a {
            text-decoration: none;
            color: black;
            font-size: 15px;
          }
        }
      }
      .bottom-icon {
        display: flex;
        align-items: center;
        column-gap: 10px;
        .sopping-caet {
          position: relative;
          .cart-namber {
            position: absolute;
            top: -46%;
            background-color: blue;
            color: white;
            left: 23%;
            border-radius: 50%;
            height: 20px;
            width: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 11px;
          }
        }
      }
    }
  }
}
// End header section

// Start Hero section

.make-section {
  background-image: url(../view/image/university\ 3.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  width: 100%;
  height: 814px;

  .slider-content {
    padding: 11rem 9rem 9rem 1rem;
    .animetion {
      h1 {
        font-size: 4.4rem;
        color: white;
      }
      p {
        margin-top: 0;
        margin-bottom: 1rem;
        font-size: 17px;
        color: white;
        font-family: sans-serif;
        font-weight: 600;
      }
    }
    .slider-btn {
      .about-us {
        padding: 10px 20px 10px 20px;
        font-size: 18px;
        font-weight: 600;
        background-color: #1baf63;
        border-radius: 41px;
        border: none;
        a {
          text-decoration: none;
          color: #ffffff;
        }
      }
      :hover {
        background-color: #ffffff;
        color: #1baf63;
      }
      // Secend
      .contact-uss {
        padding: 10px 20px 10px 20px;
        font-size: 18px;
        font-weight: 600;
        background-color: #ffffff;
        border-radius: 41px;
        border: none;
        color: green;
        a {
          text-decoration: none;
          color: #ffffff;
        }
      }
      :hover {
        background-color: #1baf63;
        color: white;
      }
    }
  }
}
.slider-slider-img {
  position: absolute;
  right: 261px;
  width: 505px;
  bottom: 0px;
}

//End Hero section

// Start Section choose-us
.choose-us {
  .container-fluid {
    padding-right: 100px;
    padding-left: 100px;
    .choose-negetive-mrg {
      margin-top: -102px;
      z-index: 9;
      position: relative;
      .single-choose-us {
        background-color: grey;
        display: flex;
        padding: 50px 48px 46px;

        gap: 10px;
        .choose-content {
          h3 {
            font-weight: bold;
            font-size: 25px;
            color: #fff;
            margin: 0 0 20px;
          }
          p {
            line-height: 26px;
            font-size: 16px;
            color: #fff;
          }
        }
      }
      .choose-bg-blue {
        background-color: #48a7d4;
      }
      .choose-bg-yellow {
        background-color: #fdc735;
      }
    }
  }
}
// End Section choose-us

// Startt About-Us Section

.about-us {
  padding: 130px 0px 140px 0px;
  .about-content {
    .section-title {
      position: relative;
      h2 {
        font-size: 48px;
        font-weight: bold;
        margin: 0 0 20px;
        line-height: 38px;
      }
      span {
        color: red;
        font-weight: 500;
      }
      p {
        color: red;
        font-family: sans-serif;
        margin-bottom: 3rem;
      }
    }
    ::before {
      content: url(./image/section-shape.png);
      position: absolute;
      left: -32px;
      top: 2px;
      bottom: auto;
    }
    .about-btn {
      p {
        font-size: 14px;
        font-family: serif;
      }
    }
    .about-btn {
      margin-top: 45px;
      .defaul-btn {
        background-color: green;
        padding: 16px 40px;
        border-radius: 30px;
        color: white;
        font-size: 17px;
        font-weight: 600;
        text-decoration: none;
      }
      :hover {
        background-color: #333333;
        color: white;
      }
    }
  }
}
// End About-Us Section
//Start Our Courses Section

.our-courses {
  background-color: aliceblue;
  padding: 103px 0px 29px 0px;
  height: 830px;
}
.single-courses {
  h1 {
    font-size: 48px;
    font-weight: bold;
    margin: 0 0 20px;
    line-height: 38px;
    position: relative;
  }
  span {
    color: #00a651;
    font-weight: 400;
  }
  p {
    font-family: sans-serif;
  }
  ::before {
    content: url(./image/section-shape.png);
    position: absolute;
    left: -32px;
    top: 2px;
    bottom: auto;
  }
}
.courses {
  width: 25%;
  padding: 0;
  .all-courses {
    .courses-images {
      position: relative;
      overflow: hidden;

      img {
        width: 100%;
        height: auto;
        -webkit-transition: 0.3s ease-in-out;
        transition: 0.3s ease-in-out;
      }

      h3 {
        position: absolute;
        top: 0;
        left: 0;
        background-color: #00a651;
        color: white;
        font-size: 14px;
        padding: 6px;
      }
    }
    :hover img {
      -webkit-transform: scale(1.2);
      transform: scale(1.2);
    }

    .courses-content {
      box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
      padding: 16px;
      h4 {
        font-size: 1.3rem;
        margin: 8px 0px 15px 0px;
        font-family: sans-serif;
        color: gray;
      }
      p {
      }
    }
  }

  .credit-duration-wrap {
    display: none;
    transition: all 2s ease-in-out;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    .courses-position {
      display: flex;
      justify-content: space-between;
      padding: 10px;
      .sin-credit {
        font-size: 13px;
        padding: 20px 5px;
        i {
          font-weight: 900;
          padding: 8px;
          background-color: #dddddd;
          border-radius: 20px;
        }
      }
    }
    .course-btn {
      background-color: gray;
      width: 140px;
      padding: 10px 18px;
      border-radius: 0px 21px 21px 0px;
      color: white;
      font-weight: 600;
      &:hover {
        background-color: #333333;
      }
    }
  }

  &:hover {
    .credit-duration-wrap {
      display: block;
    }
  }
}

//End Our Courses Section

//Start Our Achievment Section
.Achievment {
  background-color: #ffffff;
  margin: 6rem 0rem 4rem 0rem;
  .count-all {
    margin-top: 2rem;
    .single-count {
      position: relative;
      display: flex;
      gap: 30px;
      .count-contact {
        h1 {
          color: #00a651;
          line-height: 1.2;
          margin-bottom: 0px;
          margin-top: -12px;
        }
        p {
          color: #66749c;
        }
      }
      :before {
        position: absolute;
        top: 3px;
        background-color: #8d7070;
        content: "";
        width: 3px;
        height: 50px;
        float: right;
        left: 15rem;
      }
    }

    .single-count:last-child::before {
      display: none;
    }
  }
  .achie-image {
    padding-left: 0px;
    padding-right: 0px;
    .left-image {
      img {
        width: 100%;
      }
    }
  }
  .achie-content {
    padding-left: 0px;
    padding-right: 0px;
    background-color: #0dab5a;
    position: relative;
    .icon-top {
      padding: 4rem;
      .icon-bottom {
        float: right;
      }
      i.fa-solid.fa-arrow-right-long {
        margin-top: 8rem;
      }
    }
    .bottom-thard {
      position: absolute;
      right: 0px;
      bottom: -37px;
      img {
      }
    }
  }
}

//End Our Achievment Section
//Start Register now Section

.Register {
  background-image: url(./image/bg-2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-top: 11rem;
  .single-courses {
  }
  .register-from {
    h4 {
      color: white;
      margin-top: 3rem;
    }
    .con-fo {
      input[type="text"] {
        width: 100%;
        margin: 10px 1px;
        height: 50px;
        padding: 10px;
      }
      textarea.assge {
        width: 100%;
        height: 200px;
        padding: 10px;
        margin: 40px 0px;
      }
      .btn.btn-white {
        background-color: white;
        padding: 17px 35px;
        border-radius: 40px;
        border: none;
        font-weight: 800;
        font-size: 18px;
        color: brown;
      }
      .btn-white:hover {
        background-color: #333333;
        border: none;
        color: white;
      }
    }
  }
}
//End Register now Section

//Start Best Teacher Section
.Best-Teacher {
  .customer-row {
    .teacher {
      .all-teacher {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        gap: 15px;
      }
      .single-teacher {
        width: 200px;
        position: relative;

        &:hover {
          .teacher-contact-visible {
            display: none;
          }

          .teacher-contact-wrap {
            display: block;
          }
        }

        .teacher-img {
          width: 200px;
          img {
            width: 100%;
          }
        }
        .teacher-contact-visible {
          position: absolute;
          bottom: 0;
          right: 0;
          width: 145px;
          padding: 10px;
          background-color: aqua;
        }
        .teacher-contact-wrap {
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          display: none;
          width: 200px;
          height: 100%;
          background: rgba(0, 250, 2, 0.62);
          backdrop-filter: blur(2.2px);
          .teacher-contact {
            width: 100%;
            padding: 30px;

            .teacher-social {
              ul {
                display: flex;
                margin: 0px;
                padding: 0px;
                justify-content: space-around;
                li {
                  list-style: none;
                }
              }
            }
          }
        }
      }
    }
  }
}
//End  Best Teacher Section

//Start Our Event Section
.Our-Event {
  background-color: #f6f6f6;
  .single-courses {
  }
  .our {
    .our-event {
      background-color: #ffffff;
      width: 416px;
      .our-img {
        position: relative;
        width: 416px;
        height: 300px;
        margin: 0;
        padding: 0;
        background: #fff;
        overflow: hidden;
        img {
          width: 100%;
          height: 100%;
          -webkit-transform: scale(1);
          transform: scale(1);
          -webkit-transition: 0.3s ease-in-out;
          transition: 0.3s ease-in-out;
        }

        .dec {
          width: 65px;
          text-align: center;
          color: white;
          position: absolute;
          bottom: 0px;
          background-color: #00a651;
          top: 8rem;
          height: 65px;
          h3 {
            font-size: 20px;
            padding: 8px;
            margin-bottom: 0px;
          }
        }
      }
      .our-img:hover img {
        -webkit-transform: scale(1.3);
        transform: scale(1.3);
      }
      .our-secend {
        padding: 25px 25px 25px 25px;
        .out-content {
          h4 {
            font-size: 1.3rem;
          }
          p {
            margin-bottom: 0.2rem;
            padding: 15px 0px 15px;
          }
        }
        .our-icon-text {
          display: flex;
          justify-content: space-between;
          .icon-left {
            display: flex;
            align-items: center;
            gap: 14px;
            justify-content: center;
            .icon {
              font-weight: 900;
              width: 25px;
              height: 25px;
              background-color: green;
              padding: 5px;
              border-radius: 20px;
              color: wheat;
            }
            p {
              margin: 0px;
            }
          }
          .icon-right {
            display: flex;
            align-items: center;
            gap: 14px;
            justify-content: center;
            .fa-regular,
            .far {
              font-weight: 900;
              width: 25px;
              height: 25px;
              background-color: green;
              border-radius: 20px;
              padding: 5px;
              color: wheat;
              font-size: 15px;
              text-align: center;
            }
            p {
              margin: 0px;
              color: green;
              font-size: 14px;
            }
          }
        }
      }
    }
  }
}
//End Our Event Section

//Start Our Newsfeed Section
.Our-Newsfeed {
  height: 684px;
  .single-courses {
  }
  .our {
  }
  .our-newsfeed {
    width: 300px;

    .our-img {
      position: relative;
      width: 300px;
      margin: 0;
      padding: 0;
      background: #fff;
      overflow: hidden;
      img {
        width: 100%;
        height: 100%;
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transition: 0.3s ease-in-out;
        transition: 0.3s ease-in-out;
      }

      .education {
        background-color: #00a651;
        padding: 1px;
        text-align: center;
        width: 100px;
        position: absolute;
        bottom: -11px;
        left: 35px;
        color: white;
      }
    }
    .our-img:hover img {
      -webkit-transform: scale(1.3);
      transform: scale(1.3);
    }
    .our-secend {
      padding: 28px;
      background-color: #ffffff;
      .out-content {
        h4 {
          font-size: 21px;
          a {
            text-decoration: none;
            color: black;
          }
        }
        p {
          font-size: 16px;
          color: darkslategrey;
        }
      }
      .our-icon-text {
        display: flex;
        justify-content: space-between;
        display: flex;
        .icon-left {
          display: flex;
          gap: 10px;
          align-items: center;
          a {
            text-decoration: none;
            color: green;
          }
          p {
            margin: 0px;
            a {
              text-decoration: none;
              color: green;
              font-size: 13px;
            }
          }
        }
        .icon-right {
          display: flex;
          gap: 10px;
          align-items: center;
          a {
            text-decoration: none;
            color: green;
          }
          p {
            margin: 0px;
            a {
              text-decoration: none;
              color: green;
              font-size: 13px;
            }
          }
        }
      }
    }
    .bottom-icon {
      display: flex;
      gap: 13px;
      align-items: center;
      background-color: #00a651;
      padding: 4px 0px 4px 10px;
      font-size: 15px;
      color: white;
      padding-left: 24px;
      a {
        text-decoration: none;
        color: white;
      }
      p {
        margin: 0px;
        color: white;
      }
    }
    a {
      text-decoration: none;
    }
    p {
      margin: 0px;
    }
  }
}
//End Our Newsfeed Section

//Start Footer Section
.footer-areya {
  background-image: url(./image/bg-4.jpg);
  height: 480px;
  background-repeat: no-repeat;
  background-position-y: center;
  background-size: cover;
  .secend {
    background-color: #003502;
    opacity: 0.89;
    .footer-top {
      .footer-top-content {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        gap: 5px;
        padding: 77px 0px;
      }

      .footer-widget {
        .footer-title {
          position: relative;
          color: white;
          h4 {
            font-size: 1.5rem;
            margin-bottom: 2.6rem;
          }
          ::before {
            width: 70px;
            height: 2px;
            background-color: green;
            position: absolute;
            content: url();
            bottom: -7px;
          }
        }

        .footer-gallery {
          display: grid;
          grid-template-columns: repeat(2, auto);
          justify-content: flex-start;
          gap: 10px;
        }

        .footer-about {
          color: white;
          p {
            font-size: 15.6px;
            margin-bottom: 2rem;
          }
          .f-contact-info {
            .single-f-contact-info {
              font-size: 14px;
              margin-bottom: 9px;
              a {
                text-decoration: none;
                color: white;
              }
              a:hover {
                color: red;
              }
              span {
                margin-left: 10px;

                a:hover {
                  color: red;
                }
              }
            }
            .email-button {
              width: 270px;

              .email {
                width: 100%;
                padding: 9px 16px;
              }
            }
            .single-button {
              margin-top: 10px;
              .btn {
                width: 160px;
                background-color: white;
                border-radius: inherit;

                a {
                  text-decoration: none;
                  color: red;
                  font-weight: 700;
                }
                a:hover {
                  color: white;
                }
              }
              .btn:hover {
                background-color: #00a651;
              }
            }
          }
        }
      }
    }
    .footer-bottom {
      background-color: #00a651;
      padding: 20px 0px;
      .align-items-center {
        align-items: center !important;
        display: flex;

        .copyrirght {
          p {
            margin: 0px;
          }
        }
        .footer-menu-social {
          display: flex;
          align-items: center;
          float: inline-end;
          gap: 28px;
          .footer-menu {
            ul {
              display: flex;
              margin: 0px;
              padding: 0px;
              li {
                a {
                  text-decoration: none;
                  list-style: none;
                }
              }
            }
          }

          .footer-social {
            ul {
              margin: 0px;
              padding: 0px;
              display: flex;
              gap: 30px;
              li {
                list-style: none;
                a {
                  text-decoration: none;
                }
              }
            }
          }
        }
      }
    }
  }
}

//End Footer Section
